html {
  margin:0px;
  padding:0px;
}

img {
        width: 20%;
        height: auto;
        display: block;
        float: right;
        }

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 75% georgia, sans-serif;
}
